:root {
  --background: #121212;
  --off-white: #b3b3b3;
  --darker-gray: #181818;
  --dark-gray: #282828;
  --spotify-green: #1db954;
  --gray: #1f1f1f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 30px;
}
.playlist-header {
  display: flex;
  align-items: flex-end;
  gap: 30px;
  position: relative;
}
.playlist-cover {
  width: 100%;
  border-radius: 10px;
  height: clamp(15rem, 40vh, 30rem);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);
  object-fit: cover;
  object-position: top;
}
.playlist-info {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
}
.playlist-info h1 {
  font-size: 3rem;
  font-weight: bold;
}
.playlist-desc {
  color: var(--off-white);
  font-size: 0.875rem;
}
body {
  background-color: var(--background);
  color: white;
  font-family: "Helvetica Neue", sans-serif;
  height: 100vh;
}
.play-button {
  background-color: var(--spotify-green);
  color: white;
  border: none;
  border-radius: 50%;
  width: 55px;
  height: 55px;
  font-size: 1.5rem;
  cursor: pointer;
}
.like-button,
.download-button {
  background: none;
  border: none;
  cursor: pointer;
}
.download-button img,
.like-button img {
  filter: invert(1);
  width: 22px;
}
.controls {
  display: flex;
  gap: 20px;
  align-items: center;
  margin: 25px;
}
.songs {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.song-header {
  display: none;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 8px;
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 700;
  background-color: var(--gray);
}
.song-header,
.songs-header p {
  display: none;
}
.song-info-mobile {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.song-info p:first-child {
  font-weight: 600;
  font-size: 1.25rem;
}
.row {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row:hover {
  background-color: var(--dark-gray);
}
.wide {
  flex: 2;
}
.num,
.duration {
  width: 10%;
}
.num {
  font-size: 2rem;
  font-weight: 600;
}
.date {
  display: none;
}
.row {
  display: flex;
  justify-content: space-between;
  padding: 1.25rem;
  border-radius: 4px;
  transition: background 0.2s;
}
.sidebar{
  display:none;
  flex-flow:wrap column;
  background-color: var(--background);
  height: auto;
  width: 12rem;
  margin: 0;
  padding:2rem 0rem 0px .7rem;
}
.sidebar-header{
  margin:1rem;
  color: var(--off-white);
  font-weight:bold;
}
.categories{
  display:flex;
  margin:0 1rem 0 1rem;
  gap:10px;
  font-size: .7rem;
}
.option-buttons{
  display:flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  position:relative;
  margin: 1rem;
  gap:5px;
}
.option-buttons button{
  font-size: .75rem;
  text-align: start;
  width: 10rem;
  padding: 8px;
  border: 1px solid var(--darker-gray);
  border-radius: 5px;
  color:white;
  background-color: var(--dark-gray);
}

@media (min-width: 770px) {
  .song-header {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 8px;
    text-transform: uppercase;
    font-size: 0.8rem;
    font-weight: 700;
    background-color: var(--gray);
  }
  .song-header p {
    display: block;
  }
  .row {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px 8px;
  }
  .date {
    width: 20%;
    display: block;
  }
  .song-info-mobile {
    display: flex;
    flex-direction: row;
    flex: 4;
  }
  .num {
    font-size: 1rem;
    font-weight: normal;
  }
  .songs row {
    padding: 0;
  }
  .sidebar{
    display:flex;
  }
}